@font-face {
    font-family: 'UbuntuBold';
    src: url('./assets/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuRegular';
    src: url('./assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

div#profile {
    left: 12px !important;
    top: 30px !important;
}

.box-shadow {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1) !important;
}

.triangle-shadow,
.triangle-no-shadow {
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 29px solid #fff;
    position: relative;
}

.triangle-shadow::after {
    content: "";
    position: absolute;
    left: -17px;
    top: 1px;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 29px solid #fff;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.4));
}

.v-toast__icon {
    display: none !important;
}

[class^="v-toast__item"] {
    border-radius: 8px !important;
}

[class^="v-toast__text"] {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

[class^="v-hl-btn"] {
    display: none !important;
}

.h-176 {
    height: 176px !important;
}

.w-140 {
    width: 140px !important;
}